* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.gengduo {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.gengduo {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.gengduo header {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #ff9600;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  position: relative;
}
.gengduo header span {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 2rem;
  top: -1.6rem;
}
.gengduo header span img {
  width: 100%;
  height: 100%;
}
.gengduo section {
  -webkit-box-flex: 1;
  overflow: scroll;
}
.gengduo section banner img {
  width: 100%;
  height: 100%;
}
.gengduo section ul {
  background: #fff;
  margin-bottom: 1rem;
}
.gengduo section ul a {
  color: #000;
  text-decoration: none;
}
.gengduo section ul li {
  position: relative;
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #ccc;
  padding-left: 4rem;
  font-size: 1.6rem;
}
.gengduo section ul li img {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.gengduo footer {
  border-top: 2px solid #dddddd;
  height: 4.5rem;
  padding-top: .5rem;
}
.gengduo footer ul {
  display: -webkit-box;
}
.gengduo footer ul li {
  width: 25%;
  text-align: center;
}
.gengduo footer ul li a {
  color: #666666;
  text-decoration: none;
}
.gengduo footer ul li dl {
  width: 100%;
  text-align: center;
}
.gengduo footer ul li dl dt {
  width: 100%;
  text-align: center;
}
.gengduo footer ul li dl dt img {
  width: 2rem;
  height: 2rem;
}
.gengduo footer ul li dl dd {
  font-size: 1.4rem;
}
.gengduo footer ul li dl .orange {
  color: #fcb267;
}
