* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.jinkadai {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.jinkadai {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.jinkadai a {
  color: #000;
  text-decoration: none;
}
.jinkadai header {
  position: relative;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #ff9600;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
.jinkadai header .left {
  position: absolute;
  left: -65%;
  top: -1.4rem;
}
.jinkadai header .left a {
  color: #fff;
}
.jinkadai section {
  -webkit-box-flex: 1;
  overflow: scroll;
  background: #f0f0f0;
}
.jinkadai section h2 {
  font-size: 1.8rem;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid #d9d9db;
  padding-left: 1rem;
}
.jinkadai section ul {
  background: #fff;
  padding-left: 1rem;
}
.jinkadai section ul li {
  background: url(../images/jinkadaiimg/listb.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 3% 30%;
  padding-left: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.4rem;
}
.jinkadai section ul li span {
  color: #666666;
}
.jinkadai footer {
  height: 4rem;
  padding: .5rem 0;
}
.jinkadai footer button {
  background: #ff9700;
  width: 90%;
  height: 3rem;
  color: #fff;
  font-size: 1.6rem;
  border: 0;
  margin-left: 5%;
}
