* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.jisuanqi {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.jisuanqi {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.jisuanqi header {
  position: relative;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #ff9600;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
.jisuanqi header .left {
  position: absolute;
  left: -17rem;
  top: -0.9rem;
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
}
.jisuanqi header .left img {
  width: 100%;
  height: 100%;
}
.jisuanqi section {
  -webkit-box-flex: 1;
  overflow: scroll;
  background: #f0f0f0;
}
.jisuanqi section .main ul {
  background: #fff;
  margin-top: 1rem;
}
.jisuanqi section .main ul li {
  padding-left: 1rem;
  position: relative;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
}
.jisuanqi section .main ul li input {
  border: 0;
  font-size: 1.4rem;
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  text-align: right;
  color: #a0a0a0;
}
.jisuanqi section .main ul li span {
  position: absolute;
  font-size: 1.4rem;
  right: 1rem;
  color: #a0a0a0;
}
.jisuanqi section .main button {
  background: #ff9700;
  width: 90%;
  margin-left: 5%;
  height: 4rem;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 1rem;
  border: 0;
}
