* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.wsshenqing {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.wsshenqing {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wsshenqing a {
  color: #000;
  text-decoration: none;
}
.wsshenqing header {
  position: relative;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #ff9600;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
.wsshenqing header .left {
  position: absolute;
  left: -65%;
  top: -1.4rem;
}
.wsshenqing header .left a {
  color: #fff;
}
.wsshenqing section {
  -webkit-box-flex: 1;
  overflow: scroll;
  background: #f0f0f0;
}
.wsshenqing section .jd img {
  width: 100%;
  height: 100%;
}
.wsshenqing section .mm h2 {
  font-size: 1.8rem;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1rem;
}
.wsshenqing section .mm ul {
  background: #fff;
  padding-left: 1rem;
}
.wsshenqing section .mm ul li {
  font-size: 1.6rem;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid #ececec;
  position: relative;
}
.wsshenqing section .mm ul li span {
  color: #bababa;
  font-size: 1.4rem;
  position: absolute;
  right: 1rem;
}
.wsshenqing section button {
  margin: 1rem 0;
  background: #ff9700;
  width: 90%;
  height: 3rem;
  color: #fff;
  border: 0;
  margin-left: 5%;
  font-size: 1.6rem;
}
