* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.dneglu {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.denglu {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.denglu header {
  position: relative;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #ff9600;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
.denglu header .left {
  position: absolute;
  left: -65%;
  top: -0.9rem;
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
}
.denglu header .left img {
  width: 100%;
  height: 100%;
}
.denglu header .right {
  position: absolute;
  right: 1rem;
  top: -1.1rem;
}
.denglu section {
  -webkit-box-flex: 1;
  overflow: scroll;
  background: #f0f0f0;
}
.denglu section ul {
  background: #fff;
  margin: 1rem 0;
}
.denglu section ul li {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem;
  position: relative;
}
.denglu section ul li span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 1rem;
  top: .3rem;
}
.denglu section ul li span img {
  width: 100%;
  height: 100%;
}
.denglu section ul li input {
  border: 0;
  margin-left: 3rem;
}
.denglu section ul li .wjmm {
  border: 1px solid #ff9700;
  border-radius: 1.5rem;
  background: #fff;
  color: #ff9700;
  padding: .3rem;
  font-size: 1.2rem;
}
.denglu section ul li .btnimg {
  position: absolute;
  top: 1.2rem;
  width: 6rem;
  height: 2.5rem;
  background: url(../images/dl.png);
  background-size: 100% 100%;
  border: 0;
}
.denglu section .btn {
  background: #ff9700;
  width: 90%;
  margin-left: 5%;
  height: 4rem;
  color: #fff;
  font-size: 1.6rem;
  border: 0;
}
.mark {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.mark .big {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
}
.mark .small {
  border-radius: 10px;
  width: 90%;
  height: 13rem;
  background: #fff;
  position: absolute;
  left: 5%;
  top: 30%;
}
.mark .small h2 {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  height: 2.5rem;
  line-hright: 2.5rem;
  color: #ff9700;
  margin-top: 4rem;
}
.mark .small h6 {
  text-align: center;
  font-size: 1.2rem;
  height: 2.5rem;
  line-hright: 2.5rem;
  color: #585858;
}
.mark .small h5 {
  border-top: 1px solid #dddddd;
}
.mark .small h5 span {
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 3rem;
  font-size: 1.6rem;
  font-weight: normal;
}
