* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.grxinxi {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.grxinxi {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.grxinxi header {
  position: relative;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #ff9600;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
.grxinxi header .left {
  position: absolute;
  left: -60%;
  top: -1.2rem;
}
.grxinxi header .right {
  position: absolute;
  right: 1rem;
  top: -1.2rem;
}
.grxinxi section {
  -webkit-box-flex: 1;
  overflow: scroll;
}
.grxinxi section ul {
  background: #fff;
  width: 100%;
  height: 50%;
}
.grxinxi section ul li {
  position: relative;
  height: 4rem;
  line-height: 4rem;
  font-size: .8rem;
  padding-left: 1rem;
  border-bottom: 1px solid #dddddd;
  font-size: 1.6rem;
}
.grxinxi section ul li input {
  margin-right: .5rem;
}
.grxinxi section ul li label {
  font-size: 1.6rem;
}
.grxinxi section ul .abbg {
  background: #fff9f0;
  color: #666666;
}
.grxinxi section ul .yyd {
  color: #ccc;
}
.grxinxi li input,
.grxinxi li label b {
  position: absolute;
  left: 10px;
  top: 7px;
}
.grxinxi li input[type],
.grxinxi li label[type] {
  opacity: 0;
}
.grxinxi label {
  margin-left: 30px;
  font-size: .8rem;
}
.grxinxi li label b {
  display: block;
  width: 1rem;
  height: 2rem;
  background: url(../images/gengduoimg/grxinxiinput.png);
  background-size: 100% 100%;
  padding-left: 2rem;
  margin-top: .5rem;
}
.grxinxi li input[type]:checked + label b {
  background: url(../images/gengduoimg/grxinxipnputbg.png);
  background-size: 100% 100%;
  background-position: 0 0;
}
.grxinxi .bbbbb {
  background: url(../images/gengduoimg/grxinxipnputbg.png);
  background-size: 100% 100%;
  background-position: 0 0;
}
.grxinxi .xqlilstbtn {
  text-align: center;
  padding-bottom: 20px;
}
.grxinxi .xqlilstbtn button {
  width: 80%;
  height: 2rem;
  background: #fad937;
  border-bottom: 3px solid #fab937;
  border-radius: 10px;
  font-size: .9rem;
}
.grxinxi .bdok .ababcen {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.grxinxi .bdok .ababcen .ababimg {
  width: 4rem;
  height: 4rem;
}
.grxinxi .bdok .ababcen .ababimg img {
  width: 100%;
  height: 100%;
}
.grxinxi .bdok .ababcen .ababwenzi {
  text-align: center;
}
.grxinxi .bdok .ababcen .ababwenzi h3 {
  font-size: 1rem;
}
.grxinxi .bdok .ababcen .ababwenzi p {
  font-size: .6rem;
  color: #aaa;
}
.grxinxi footer {
  height: 4rem;
  background: #f6f6f6;
}
.grxinxi footer div {
  width: 80%;
  margin-left: 10%;
}
.grxinxi footer div button {
  width: 40%;
  height: 3rem;
  margin-left: 5%;
  border-radius: 2rem;
  border: 1px solid #ff9700;
  background: #ffffff;
  color: #ff9700;
}
.grxinxi footer div .yd {
  background: #ff9700;
  color: #fff;
}
