* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.jiekuanshenqing {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.jiekuanshenqing {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.jiekuanshenqing a {
  color: #000;
  text-decoration: none;
}
.jiekuanshenqing header {
  position: relative;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #ff9600;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
.jiekuanshenqing header .left {
  position: absolute;
  left: -65%;
  top: -1.4rem;
}
.jiekuanshenqing header .left a {
  color: #fff;
}
.jiekuanshenqing section {
  -webkit-box-flex: 1;
  overflow: scroll;
  background: #f0f0f0;
}
.jiekuanshenqing section img {
  width: 100%;
  height: 100%;
}
.jiekuanshenqing section ul {
  background: #fff;
  margin-bottom: 1rem;
}
.jiekuanshenqing section ul li {
  height: 3rem;
  line-height: 3rem;
  font-size: 1.4rem;
  margin-left: 1rem;
  border-bottom: 1px solid #ececec;
  position: relative;
}
.jiekuanshenqing section ul li input {
  position: absolute;
  right: 1rem;
  top: .8rem;
  border: 0;
  text-align: right;
}
.jiekuanshenqing section ul li input::-webkit-input-placeholder {
  color: #ccc;
}
.jiekuanshenqing section ul li select {
  position: absolute;
  right: 1rem;
  top: .8rem;
  border: 0;
  color: #ccc;
}
.jiekuanshenqing section button {
  background: #ff9700;
  width: 90%;
  height: 3rem;
  color: #fff;
  border: 0;
  margin-left: 5%;
  font-size: 1.6rem;
}
