* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.qrchanpin {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.qrchanpin {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.qrchanpin a {
  color: #000;
  text-decoration: none;
}
.qrchanpin header {
  position: relative;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #ff9600;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
.qrchanpin header .left {
  position: absolute;
  left: -65%;
  top: -1.4rem;
}
.qrchanpin header .left a {
  color: #fff;
}
.qrchanpin section {
  -webkit-box-flex: 1;
  overflow: scroll;
  background: #f0f0f0;
}
.qrchanpin section .jd img {
  width: 100%;
  height: 100%;
}
.qrchanpin section .mm {
  padding: 0 1rem;
}
.qrchanpin section .mm dl {
  padding: 1rem;
  background: #fff;
  display: -webkit-box;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border: 1px solid #dddddd;
  position: relative;
}
.qrchanpin section .mm dl dt {
  width: 30%;
  margin-right: .5rem;
}
.qrchanpin section .mm dl dt img {
  width: 100%;
  height: 100%;
}
.qrchanpin section .mm dl dd h4 {
  font-size: 1.4rem;
}
.qrchanpin section .mm dl dd p {
  font-size: 1.2rem;
  color: #666666;
  line-height: 1.7rem;
}
.qrchanpin section .mm dl dd .jiantou {
  position: absolute;
  right: .2rem;
  top: 20%;
}
.qrchanpin section .mm dl .anniu {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.qrchanpin section .mm dl .anniu img {
  width: 100%;
  height: 100%;
}
.qrchanpin section .mm .xzbk {
  border: 1px solid #ff9700;
}
.qrchanpin section button {
  margin: 1rem 0;
  background: #ff9700;
  width: 90%;
  height: 3rem;
  color: #fff;
  border: 0;
  margin-left: 5%;
  font-size: 1.6rem;
}
